.resume{
    border: 30px solid rgba(90, 90, 90, 0.3);
    padding: 50px;
    width: 52%;
    background-color: white;
    margin: 0px 0px;
    line-height: 20px;
}

h1{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

div h3{
    font-size: 25px;
    font-weight: 800;
}

table{
    line-height: 15px;
    font-family: 'Raleway', sans-serif;
}

div p{
    font-size: 17px;
    font-weight: 505;
    line-height: 17px;
}

section img{
    border-radius: 75%;
}

h4{
    font-size: 30px;
}

.value{
    vertical-align: 10px;
}

.side-by-side {
                display: inline-block; 
                vertical-align: top; 

            }
 ul{
    font-size: 22px;
    line-height: 25px;
 }
 h5{
    font-size: 20px;
}
hr{
    border-width: 3px;
    border-color: rgb(107, 103, 103,0.5);
}

img{
    border-radius: 50%;
}

 .bg{
    background-color: black;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
 }

h6{
    font-size: 22px;
}



